.StoryBuyBelarusian {
  padding-top: 120px;
  padding-bottom: 30px;
  height: fit-content;
  background: linear-gradient(113.28deg, #172C3B 0%, #364270 100%);
  .story-info-value {
    color: #e57373 !important;
  }
}
