.BuyersRegionsSlide {
  height: 50px;
  span {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    color: #495865;
  }

  p {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;

    color: #495865;

    opacity: 0.8;
  }

  h4 {
    padding-top: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #3A8FFF;
  }
}
